@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@400;700&family=Roboto:wght@300&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Jost:wght@400;600;700&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@400;700&family=Roboto:wght@300&family=Rubik:wght@300;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}
:root{
    --color_naranja: #ff7e33;
    --color_claro: #F4F4F4;
    --color_oscuro: #251f37;
    --color_semi_oscuro: #2b3f50;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0rem 20% 2rem;
    background: var(--color_oscuro)
}
::selection{
    background-color: var(--color_naranja);
    color: var(--color_oscuro);
}
.cursor{
    position: fixed;
    width: 45px;
    height: 45px;
    border: 2px solid var(--color_naranja);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .1s;
    z-index: 1;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    padding: 15px 15px;
}
.logo-tittle{
    font-size: 22px;
    color: var(--color_claro);
}
.logo-tittle span{
    font-size: 22px;
    color: var(--color_naranja);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
}
.header .nav-links a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--color_claro);
}
.header .nav-links li a:hover{
    color: var(--color_naranja);
}


.enlaces i{
    font-size: 2rem;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-left: 32px;
}
.github-icon{
    color: var(--color_claro);
    margin-right: 10px;
}
.linkedin-icon{
    color: var(--color_claro);
}
.github-icon:hover{
    color: #f9832e;
    transform: rotate(6deg);
}
.linkedin-icon:hover{
    color: #f9832e;
    transform: rotate(6deg);
}
.enlaces{
    display: flex;
}


.intro{
    justify-content: start;
    align-items: center;
    margin: 14% auto;
    max-width: 900px;
    display: flex;
}
.intro h1{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
}
.intro h2{
    font-size: 35px;
    color: var(--color_naranja);
    font-weight: lighter;
}
.intro h3{
    font-size: 20px;
    color: var(--color_naranja);
    font-weight: lighter;
}
.intro p{
    font-size: 16px;
    margin-top: 20px;
    color: var(--color_claro);
}
.content-intro span{
    font-weight: bold;
    color: var(--color_naranja);
}
.intro .download-button{
    margin-top: 30px;
    background-color: var(--color_naranja);
    width: 130px;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.intro .button-cv{
    color: var(--color_oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .download-button:hover{
    background-color: #f9832e;
}
.laptop{
    width: 400px;
}
.laptop-img{
    display: flex;
}



.linea_decorativa_intro{
    border-top: 2px solid;
    color: var(--color_naranja);
}



.tittle-experience{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.work-experience{
    margin: 12% auto;
    max-width: 900px;
}
.content-experience h1{
    font-size: 2rem;
    color: var(--color_claro);
    font-weight: lighter;
    margin-top: 6%;
}
.content-experience h2{
    font-size: 1.5rem;
    color: var(--color_naranja);
    font-weight: lighter;
}
.content-experience h3{
    font-size: 1rem;
    color: var(--color_claro);
    font-weight: lighter;
    background-color:#30384f;
    padding: 5px 5px;
    border-radius: 5px;
}
.content-experience .date1{
    width: 164px;
}
.content-experience .date2{
    width: 170px;
}
.content-experience p{
    color: var(--color_claro);
    margin-top: 15px;
}


.linea_decorativa_experiencia{
    border-top: 2px solid;
    color: var(--color_naranja);
}


.skills{
    margin: 12% auto;
    max-width: 900px;
}
.skills-title{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.tittle-post{
    font-size: 1.5rem;
    color: var(--color_naranja);
    font-weight: lighter;
    margin-top: 10px;
}
.skills-items{
    list-style: none;
    
}
.skills-items li{
    display: inline-block;
    color: var(--color_claro);
    margin-right: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.li-html{
    background-color: #f16529;
    padding: 5px;
    border-radius: 5px;
}
.li-css{
    background-color: #0096dc;
    padding: 5px;
    border-radius: 5px;
}
.li-js{
    background-color:  #dab92d;
    padding: 5px;
    border-radius: 5px;
}
.li-astro{
    background-color: #6218bd;
    padding: 5px;
    border-radius: 5px;
}
.li-sql{
    background-color: #293855;
    padding: 5px;
    border-radius: 5px;
}
.li-photo{
    background-color: #001833;
    padding: 5px;
    border-radius: 5px;
}
.li-ilu{
    background-color: #300000;
    padding: 5px;
    border-radius: 5px;
}
.li-figma{
    background-color: #ff7262;
    padding: 5px;
    border-radius: 5px;
}
.linea_decorativa_habilidades{
    border-top: 2px solid;
    color: var(--color_naranja);
}


.education{
    margin: 12% auto;
    max-width: 900px;
}
.education-tittle{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.content-education h1{
    font-size: 2rem;
    color: var(--color_claro);
    font-weight: lighter;
    margin-top: 6%;
}
.content-education h2{
    font-size: 1.5rem;
    color: var(--color_naranja);
    font-weight: lighter;
}
.content-education h3{
    font-size: 1rem;
    color: var(--color_claro);
    font-weight: lighter;
    background-color:#30384f;
    padding: 5px 5px;
    border-radius: 5px;
}
.content-education .education-date-1{
    width: 84px;
}
.content-education .education-date-2{
    width: 165px;
}
.content-education p{
    color: var(--color_claro);
    margin-top: 15px;
}

.linea_decorativa_formacion{
    border-top: 2px solid;
    color: var(--color_naranja);
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4%;
}
.button-contact{
    background-color: var(--color_naranja);
    color: var(--color_oscuro);
    width: 130px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button-contact:hover{
    background-color: #f9832e;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
}

.footer .social-links{
    list-style: none;
}
.footer .social-links li{
    display: inline-block;
}
.github{
    width: 10px;
}

.footer{
    color: var(--color_claro);
    margin: 30px auto;
}