@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@400;700&family=Roboto:wght@300&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Jost:wght@400;600;700&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@400;700&family=Roboto:wght@300&family=Rubik:wght@300;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}
:root{
    --color_naranja: #ff7e33;
    --color_claro: #F4F4F4;
    --color_oscuro: #251f37;
    --color_semi_oscuro: #2b3f50;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0rem 20% 2rem;
    background: var(--color_oscuro);
    transition: all .45s ease;
}
h1{
    font-size: 3rem;
    color: var(--color_claro);
}
h3{
  font-size: 1.5rem;
  color: var(--color_naranja);
  font-weight: lighter;
}
span{
    color: var(--color_naranja);
    font-weight: bold;
}
::selection{
    background-color: var(--color_naranja);
    color: var(--color_oscuro);
}
.cursor{
    position: fixed;
    width: 45px;
    height: 45px;
    border: 2px solid var(--color_naranja);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .1s;
    z-index: 10;   
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    padding: 15px 15px;
    z-index: 9;
}
.logo-tittle{
    font-size: 22px;
    color: var(--color_claro);
}
.logo-tittle span{
    font-size: 22px;
    color: var(--color_naranja);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
}
.header .nav-links a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--color_claro);
    font-size: 18px;
}
.header .nav-links li a:hover{
    color: var(--color_naranja);
}


.enlaces i{
    font-size: 2rem;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-left: 32px;
}
.github-icon{
    color: var(--color_claro);
    margin-right: 10px;
}
.linkedin-icon{
    color: var(--color_claro);
    margin-right: 10px;
}
.chat-icon{
    color: var(--color_claro);
}
.github-icon:hover{
    color: #f9832e;
    transform: rotate(6deg);
}
.linkedin-icon:hover{
    color: #f9832e;
    transform: rotate(6deg);
}
.chat-icon:hover{
    color: #f9832e;
    transform: rotate(6deg);
}
.enlaces{
    display: flex;
}


.intro{
    justify-content: start;
    align-items: center;
    margin: 14% auto;
    max-width: 950px;
    display: flex;
}
.intro h2{
    font-size: 35px;
    color: var(--color_naranja);
    font-weight: lighter;
}
.intro h3{
    font-size: 20px;
    color: var(--color_naranja);
    font-weight: lighter;
}
.intro p{
    font-size: 18px;
    margin-top: 20px;
    color: var(--color_claro);
}
.intro .download-button{
    margin-top: 30px;
    background-color: var(--color_naranja);
    width: 130px;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.intro .button-cv{
    color: var(--color_oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .download-button:hover{
    background-color: #da5b00;
}
.laptop{
    width: 400px;
}
.laptop-img{
    display: flex;
}



.linea_decorativa_intro{
    border-top: 2px solid;
    color: var(--color_naranja);
}



.tittle-experience{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 14%;
}
.work-experience{
    margin: 14% auto;
    max-width: 950px;
}
.content-experience h1{
    font-size: 2rem;
    color: var(--color_claro);
    font-weight: lighter;
    margin-top: 6%;
}
.content-experience h2{
    font-size: 1.5rem;
    color: var(--color_naranja);
    font-weight: lighter;
}
.content-experience h3{
    font-size: 1rem;
    color: var(--color_claro);
    font-weight: lighter;
    background-color:#30384f;
    padding: 5px 5px;
    border-radius: 5px;
}
.content-experience .date1{
    width: 164px;
}
.content-experience .date2{
    width: 170px;
}
.content-experience p{
    color: var(--color_claro);
    margin-top: 15px;
}


.linea_decorativa_experiencia{
    border-top: 2px solid;
    color: var(--color_naranja);
}


.skills{
    margin: 12% auto;
    max-width: 950px;
}
.skills-title{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.tittle-post{
    font-size: 1.5rem;
    color: var(--color_naranja);
    font-weight: lighter;
    margin-top: 10px;
}
.skills-items{
    list-style: none;
    
}
.skills-items li{
    display: inline-block;
    color: var(--color_claro);
    margin-right: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.li-html{
    background-color: #f16529;
    padding: 5px;
    border-radius: 5px;
}
.li-css{
    background-color: #0096dc;
    padding: 5px;
    border-radius: 5px;
}
.li-js{
    background-color:  #dab92d;
    padding: 5px;
    border-radius: 5px;
}
.li-astro{
    background-color: #6218bd;
    padding: 5px;
    border-radius: 5px;
}
.li-sql{
    background-color: #293855;
    padding: 5px;
    border-radius: 5px;
}
.li-photo{
    background-color: #001833;
    padding: 5px;
    border-radius: 5px;
}
.li-ilu{
    background-color: #300000;
    padding: 5px;
    border-radius: 5px;
}
.li-figma{
    background-color: #ff7262;
    padding: 5px;
    border-radius: 5px;
}
.linea_decorativa_habilidades{
    border-top: 2px solid;
    color: var(--color_naranja);
}


.education{
    margin: 14% auto;
    max-width: 950px;
}
.education-tittle{
    font-size: 3rem;
    color: var(--color_claro);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 14%;;
}
.content-education h1{
    font-size: 2rem;
    color: var(--color_claro);
    font-weight: lighter;
    margin-top: 6%;
}
.content-education h2{
    font-size: 1.5rem;
    color: var(--color_naranja);
    font-weight: lighter;
}
.content-education h3{
    font-size: 1rem;
    color: var(--color_claro);
    font-weight: lighter;
    background-color:#30384f;
    padding: 5px 5px;
    border-radius: 5px;
}
.content-education .education-date-1{
    width: 84px;
}
.content-education .education-date-2{
    width: 165px;
}
.content-education p{
    color: var(--color_claro);
    margin-top: 15px;
}

.linea_decorativa_formacion{
    border-top: 2px solid;
    color: var(--color_naranja);
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4%;
}
.button-contact{
    background-color: var(--color_naranja);
    color: var(--color_oscuro);
    width: 130px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button-contact:hover{
    background-color: #f9832e;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
}

.footer .social-links{
    list-style: none;
}
.footer .social-links li{
    display: inline-block;
}
.github{
    width: 10px;
}

.footer{
    color: var(--color_claro);
    margin: 30px auto;
}



  /* Lineas de Tiempo */
  .timeline {
    margin: 4em auto;
    position: relative;
    z-index: 1;
  }
  .timeline li{
    list-style: none;
  }
  
  .timeline:before {
    background-color: var(--color_claro);
    content: "";
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
  }
  
  .timeline-event {
    position: relative;
  }
  
  .timeline-event:hover .timeline-event-icon {
    transform: rotate(-45deg);
    background-color: var(--color_naranja);
  }
  
  .timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 var(--color_naranja);
  }
  
  .timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 2em;
    width: 80%;
  }
  
  .timeline-event-copy h3 {
    font-size: 1.4em;
    font-weight: lighter;
    margin-bottom: 1.2em;
    color: var(--color_naranja);
  }
  
  .timeline-event-copy h4 {
    font-size: 2em;
    color: var(--color_claro);
  }
  
  .timeline-event-copy strong {
    font-weight: 700;
  }
  
  .timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
    color: var(--color_claro);
    font-size: 18px;
  }
  
  .timeline-event-icon {
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);
    background-color: var(--color_claro);
    outline: 10px solid var(--color_oscuro);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
  }
  
  .timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: var(--color_claro);
    font-size: 0.85em;
    background-color: var(--color_semi_oscuro);
    box-shadow: inset 0 0 0 0em #ffab7b;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
  }
  
  .box-icons{
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 0fr));
    gap: 1rem;
    justify-content: center;  
    align-items: center;
    margin-top: 10%;
    margin-left: 22px;
  }

.skills-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14% auto;
}

.card{
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2);
  align-items: center;
  justify-content: center;
  margin: auto 20px;
}
.article-card img{
  width: 470px;
  height: 265px;
}
.content p{
  color: var(--color_claro);
  font-size: 18px;
  margin-top: 10px;
}
.project-links{
    display: flex;
    justify-content: space-between;
}
.project-links i{
    font-size: 1.6rem;
}
.demo-icon{
    color: var(--color_claro);
}
.demo-icon:hover{
    color: #f9832e;
    transform: rotate(6deg);
}
.project-list{
    display: flex;
    align-items: center;
}
.project-list li{
    display: inline-block;
}
.IMG-Project:hover{
    transform: translateY(-8px);
    transition-duration: 0.3s;
}
.IMG-Project{
    transition-duration: 0.3s;
}
.tecnologies-list li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    color: var(--color_claro);
    background-color: var(--color_semi_oscuro);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
